{{ define "title" }}
	Elia Doumerc | {{ .Title }}
{{ end }}

{{ define "header" }}
<header class="first container-fluid p-4 sec3">
	<h1>{{ .Description }}</h1>
</header>
{{ end }}

{{ define "main" }}
	<main class="container p-4">
		<div class="card-columns" id="programs">
			<h1>Software</h1>
			
			{{ $pages := .Pages }}
			{{ range .Site.Home.Translations }}
				{{ $pages = ($pages | lang.Merge .Site.RegularPages) }}
			{{ end }}

			{{ range where $pages "Type" "cs"}}
				<a class="card" href="{{ .RelPermalink }}">
					{{ partial "card_children" . }}
				</a>
			{{ end }}

			
			<!-- Eine Karte einfach so, damit es nicht so leer ist. -->
			<div class="card p-3">
				<blockquote class="blockquote mb-0 card-body">
				<p>Work still in progress...</p>
				</blockquote>
			</div>
		</div>
		<hr>
		<div class="card-columns" id="docs">
			<h1>{{ T "essays" }}</h1>
			
			{{ range sort $.Site.Data.docs "Date" "desc"}}
				{{ partial "doc" . }}
			{{ end }}
		</div>
	</main>
{{ end }}