{{ define "static" }}
    {{ $single := resources.Get "sass/games.scss" }}
    {{ $single := $single | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $single.RelPermalink }}">

    <script defer src="/js/games/leds.js"></script>
{{ end }}

{{ define "header" }}
    {{ partial "games_menu" . }}
{{ end }}

{{ define "main" }}
    <div class="container-fluid sec0 text-center">
        <!-- Game Header-->
        <div class="container sec1">
            <img src="{{ .Params.featured_image }}" alt="LEDs" style="max-width: 100%;">
        </div>
        
        <!-- Content that appears at the game start -->
        <div class="container p-4 sec2" id="StartCont"> 
            
            <!-- Game Configuration-->
            <div class="container p-3">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">{{ T "nickname" }}</label>
                    <input class="form-control col-sm-3" id="name" name="name" type="text" autocomplete="off" placeholder="Mickey Mouse" maxlength="20">
                    <div class="col-sm-1"></div>
                    
                    <label for="rounds" class="col-sm-3 col-form-label">{{ T "round_count" }}</label>
                    <input class="form-control col-sm-2" id="rounds" name="rounds" value="3" type="number" min="3" max="10">
                    
                    <label for="mode" class="col-sm-3 col-form-label mt-1">{{ T "game_mode" }}</label>
                    <select class="form-control col-sm-3 mt-1" id="LEDMode" name="mode">
                        <option selected value="normal">normal</option>
                        <option value="hardcore">hardcore</option>
                    </select>
                </div>
                <button class="btn btn-primary submitter" type="submit" id="LEDConfig">{{ T "play" }}</button>
            </div>

            <!-- Game instructions -->
            <div class="container p-3 sec1 text-left">
                <h5>{{ T "instructions" }}</h5>
                {{ .Content }}
            </div>
        </div>
        
        <!-- Game Content -->
        <div class="container p-4 sec1 hide" id="gameCont">
            <div class="container p-3" id="currentRound"></div>
                <div id="LEDDiv">
                    <img class="LED" src="/images/LEDOff.png"><img class="LED" src="/images/LEDOff.png">
                    <img class="LED" src="/images/LEDOff.png"><img class="LED" src="/images/LEDOff.png">
                    <img class="LED" src="/images/LEDOff.png"><img class="LED" src="/images/LEDOff.png">
                    <img class="LED" src="/images/LEDOff.png"><img class="LED" src="/images/LEDOff.png">
                </div>

                <form action="#" id="LEDSubmit">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="guessedNumber" class="col-sm-3 col-form-label">{{ T "game_result" }}</label>
                        <input class="col-sm-2 form-control" id="guessedNumber" name="guessedNumber" type="number" min="0" value=0>
                        <div class="col-sm-1"></div>
                        <button class="btn btn-primary col-sm-3">{{ T "check" }}</button>
                    </div>
                </form>	
        </div>
            
        <div class="container p-3 sec2">
            <button class="btn btn-primary hide mx-auto" id="back">{{ T "return" }}</button>
        </div>
        <div class="container p-3 sec2" id="result">
        </div>
        <div class="container p-3 sec1 hide" id="scoresTitle">
            <h3>{{ T "global_counter"}}</h3><hr>
            <table class="mx-auto" id="scoreTable">
            </table>
        </div>
    </div>
{{ end }}