aside{
	margin-left: 48px;
	margin-bottom: 24px;
	float: right;
	max-width: 50%;
	min-width: 200px;
}
@media screen and (max-width: 540px){
  aside{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
