/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab a {
  background-color: inherit;
  float: left;
  border: none;
  border-right: 1px solid lightgray;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #000;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: lightgray;
  text-decoration: none;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: #ccc;
}


.LED {
	object-fit: contain;
	width: 11%;
	height: 60px;
	margin-bottom: 20px;
}

.hide {
	display: none;
}

#scoresTitle{
	height: 650px;
	overflow: auto;
}