$red: #ea433b;

@import "bootstrap-overrides";

/* Classes for section color */
.sec0 {background-color: white;}
.sec1 {background-color: #f2f2f2;}
.sec2 {background-color: #ddd;}
.sec3 {background-color: #000;color: #fff;}

/* Horizontal lines */
hr{
	border-top: 1px solid $red;
  opacity: 1;
}

/* Head section */
header{
	position: relative;
}
/* All anchors inside the header. */
header a{
  overflow: hidden;
  z-index: 2;
  color: $red;
	font-size: 18px;
	bottom: 12px;
  position: absolute;

}
header .right{right: 48px;}
header .left{left: 48px;}

header a:hover{
	color: $red;
	text-decoration: underline;
}

/* Code blocks */
pre {
  padding: 12px;
}
pre, code{
	background-color: #eaeaea !important;
	border-radius: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $red; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c30000; 
  }
