$red: #ea433b;

/* @import "bootstrap-overrides"; */

/*
 * General
*/

/* Classes for section color */
.sec0 {background-color: white;}
.sec1 {background-color: #f2f2f2;}
.sec2 {background-color: #ddd;}
.sec3 {background-color: #000;color: #fff;}

/* Horizontal lines */
hr{
	border-top: 1px solid $red;
  opacity: 1;
}

footer{
  border-top: 1px $red solid;
}



/* Code blocks */
pre {
  padding: 12px;
}
pre, code{
	background-color: #eaeaea !important;
	border-radius: 5px;
}


/* 
 * Upper Section
*/
.lanPick{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 99;
	color: #ea433b;
	font-size: 18px;
	font-weight: 500;
}
.lanPick a{
	color: #ea433b;
}

.navigation{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	z-index: 98;
}

.navigation a {
	color: #ffffff;
	text-align: center;
	padding-top: 30px; 
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 14px;
	text-decoration: none;
	font-size: 17px;
	height: 76px;
	font-weight: 500;
}
.navigation a:hover {
	text-decoration: none;
	color: #ea433b !important;
}


.left {
	float: left;
}
.right {
	float: right;
}

/* colors for brand */
.navigation .navigation-brand{
    /* size for brand */
    font-size: xx-large;
	padding-top: 14px;
}
.navigation .navigation-brand .blue{
    color: #537fbe;
}
.navigation .navigation-brand .red{
    color: #ea433b;
}
.navigation .navigation-brand .yellow{
    color: #f5b82e;
}
.navigation .navigation-brand .green{
    color: #2e944b;
}

.icon {
	display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .navigation a:not(:nth-child(2)) {display: none;}
  .navigation a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
	padding-top: 14px;
	height: 50px;
  }
  .navigation.responsive .icon {
	  float: right;
  }
}

header{
	text-align: center;
}

main{
  /* scroll horizontally as needed */
  overflow-x: auto;

  /* center contents */
  text-align: center;
}

main img{
  /* constrain images on small screens */
  max-width: 100%;
}
.mainImg{
max-width: 100%;
}

/* The text on top of an image*/
.headerText{
	position: absolute;
	left: 0;
	right: 0;
  top: 0;
  bottom: 0;
	width: fit-content;
  height: fit-content;
	margin: auto auto;
	padding: 4px;
	border-radius: 4px;
	background-color: rgba($color: white, $alpha: .7);
}
.sec3 .headerText{
	background-color: rgba($color: #000000, $alpha: .7);
}

/* First section below the navbar (header)*/
.first{
	margin-top: 76px;
}

/*
* Scrollbar
*/
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $red; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c30000; 
}


/*----*/
/* For the contact overlay */
#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
  background-color: rgba(138, 138, 138, 0.7);
}
#overlayContact{
display: none;
}
#overlayContent{
  display: inherit;
  padding: 24px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  width: 75%;
  max-width: 600px;
  /*min-height: 100px;*/
  background-color: #fff;
  border: 1px solid #ea433b;
  border-radius: 20px;
}
#overlayContent a{
  margin: 6px;
}
#overlayButton{
  margin-top: 5%;
  width: auto;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ea433b;
  border-radius: 5px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
#overlayButton:hover{
  background-color: #ddd;
cursor: pointer;
}


/* Table */
table{
  box-shadow: 4px 10px 16px #888888;
  min-width: 50%;
}

th, td {
padding: 15px;
}
tr:nth-child(even) {
background-color: #eee;
}
tr:nth-child(odd) {
 background-color: #fff;
}
th {
background-color: black;
color: white;
}


/* New card -- CS version */
.card-columns{
	columns: 3;
	padding-bottom: 24px;
}
@media screen and (max-width: 990px){
	.card-columns{columns: 2;}
}
@media screen and (max-width: 450px){
	.card-columns{columns: 1;}
}

.card{
	border: 2px solid $red;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 4px 10px 16px #888888;
}
/* TODO Eigentlich dürfte das nur bei Links sein */
.card:hover{
	box-shadow: none;
	cursor: pointer;
	background-color: rgba(253, 250, 250, 0.9);
}
.card-body{
	border: 2px solid $red;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: -2px;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

/* Kartentexte, die Links sind, nicht als solche markieren. */
a.card, a.card:hover{
  color: black;
  text-decoration: none;
}


/* NEW in v2.2: New display types for lists*/
.row-big{
  background-color: #ddd;
  border-radius: 8px;
  text-align: left;
  box-shadow: 4px 10px 16px #888888;
}

.row-big iframe{
  height: 256px;
}
@media (min-width: 1500px){
  .row-big iframe{
    height: 400px;
  }
}


/* Button to switch between views */
#viewSelect{
  border:  1px solid gray;
  border-radius: 12px;
  height: fit-content;
  width: fit-content;
}

#viewSelect svg{
  display: none;
}

#viewSelect .active{
  display: inline-block;
  fill: gray;
}

#viewSelect .active:hover{
  fill: $red;
  cursor: pointer;
}