$red: #ea433b;

main{
	overflow-x: hidden;
}

/* template-specific  */
.sidenav{
	display: none;
	position: fixed;
	height: 100%;
	z-index: 50;
	width: 250px;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;	
	padding-left: 18px;
	padding-right: 18px;
	/*border-right: 3px solid $red;*/
}

/* Download-Button */
.download, .download:hover{
	color: black;
	background-color: green;
	border: 2px solid #262;
	border-radius: 10%;
	padding: 2px;
	z-index: 5;
	text-decoration: none;
}
.download:hover{
	background-color: #ada;
}


.navOpen, .navClose, .navOpen:hover, .navClose:hover{
	position: fixed;
	top: 50%;
	z-index: 100;
	display: block;
	color: $red;
	background-color: rgba(0, 0, 0, 1);
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 12px 8px 12px 6px;
}
.navOpen:hover{
	background-color: rgba($color: white, $alpha: 1.0);
	box-shadow: 2px 4px 5px grey;
}

.navClose{
	display: none;
	text-decoration: none;
	left: 250px;
}

#TableOfContents ul{
	list-style-type: none;
	padding: 0;
}

#TableOfContents a {
	padding-top: 6px;
	text-decoration: none;
	font-size: 24px;
	color: #818181;
	display: block;
}
#TableOfContents a:hover {
	color: #f1f1f1;
}

#TableOfContents ul ul a{
	font-size: 18px;
	text-indent: .5cm;
}