{{ define "title" }}
    Elia Doumerc | {{ .Page.Params.Surname }}
{{ end }}

{{ define "static" }}
    <script src="/js/music.js"></script>
{{ end }}

{{ define "header" }}
    <header class="first"></header>
{{ end }}

{{ define "main" }}
    <main class="sec1">
        <div class="container p-5">
            <h3>This is a collection of recordings I made in the last years</h3>
            <hr>

            Selected composer
            <select name="composerSelect" id="composerSelect" onchange="document.location = this.options[this.selectedIndex].value">
                {{ range .Site.Taxonomies.composers.Alphabetical }}
                    <option value="{{ .Page.Permalink }}" {{ if eq .Term $.Data.Term }}selected{{ end }}>{{ .Page.Title }}</option>
                {{ end }}
            </select>

            
            <span id="viewSelect" class="p-2 ml-3">
                <svg id="select-row-small" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <svg id="select-row-big" class="active" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-view-stacked" viewBox="0 0 16 16">
                    <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3z"/>
                </svg>
            </span>
        </div>
        
        <!-- Hier kommen die Aufnahmen rein.-->
        <div id="recordings">
            <table class="mx-auto my-3 d-none" id="view-row-small">
                <tbody>
                    {{ range .Data.Pages }}
                    <tr class="row-small">
                        <td><b>{{ .Title }}</b></td>
                        <td>{{ .Date | time.Format "2006-01-2" }}</td>
                        <td>
                            <a href="{{ .Params.medialink }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-youtube" viewBox="0 0 16 16">
                                    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

            <div id="view-row-big" class="d-none">
                {{ range .Data.Pages }}
                <div class="row m-4 row-big">
                    <div class="col-md-6 sec3" style="border-radius: 8px;">
                        <iframe class="media" width="100%" src="{{ .Params.medialink }}}"
                            frameborder="0" allow="accelerometer; autoplay; 
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-md-6 px-4 py-3">
                        <h4 class="title">{{ .Title }}</h4><br>
                        <p class="date">{{ .Date | time.Format "2006-01-2" }}</p>
                        <p class="body"></p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>


        

    </main>
{{ end }}