{{ define "title" }}
    Elia Doumerc | {{ .Title }}
{{ end }}

{{ define "static" }}
    <script src="/js/music.js"></script>
{{ end }}

{{ define "header" }}
    <header class="first"></header>
{{ end }}

{{ define "main" }}
    <main class="sec1">
        <div class="container p-5">
            <h2>{{ T "music_welcome" }}</h2>
            <hr>
            <p>{{ T "music_welcome_2" }}</p>
            <hr>
            
            {{ T "select_composer" }}
            <select name="composerSelect" id="composerSelect">
                <option disabled selected></option>
            </select>

            
            <span id="viewSelect" class="p-2 ml-3">
                <svg id="select-row-small" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <svg id="select-row-big" class="active" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-view-stacked" viewBox="0 0 16 16">
                    <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3z"/>
                </svg>
            </span>
            
            <div id="load-message" class="d-none text-primary m-3">{{ T "load_message"}}</div>
        </div>
        
        <!-- Hier kommen die Aufnahmen rein.-->
        <div id="recordings"></div>


        <!-- Steht zum Einsatz bereit! -->
        <div id="row-big-template" class="d-none">
            <div class="row m-4 row-big">
                <div class="col-md-6 sec3" style="border-radius: 8px;">
                    <iframe class="media" width="100%" src=""
                        frameborder="0" allow="accelerometer; autoplay; 
                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="col-md-6 px-4 py-3">
                    <h4 class="title"></h4><br>
                    <p class="date"></p>
                    <p class="body"></p>
                </div>
            </div>
        </div>

    </main>
{{ end }}