{{ define "static"}}

    {{ $single := resources.Get "sass/single.scss" }}
    {{ $single := $single | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $single.RelPermalink }}">

    <script defer src="/js/single.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{ if .Params.has_formulas }}
    <!-- For LaTeX formulas -->
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$','$$'], ['\\[', '\\]']],
            processEscapes: true,
            processEnvironments: true
          },
          options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
        };
      
        window.addEventListener('load', (event) => {
            document.querySelectorAll("mjx-container").forEach(function(x){
              x.parentElement.classList += 'has-jax'})
        });
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{ end }}
    
{{ end }}
{{ define "aside" }}
    <div class="sidenav sec3" width="20%">
        <a href="javascript:void(0);" class="navClose">&#10060;</a>
        <h1>{{ .Title }}</h1><hr>
        {{ .TableOfContents }}
    </div>
{{ end }}
{{ define "main" }}
<main class="text-left sec0">
    <header class="container-fluid p-5 sec3 text-center">
        <h4>{{ .Description }}</h4>
        
        <a href="javascript:void(0);" class="navOpen" title="Navigation-Opener">
            <i class="fa fa-bars"></i>
        </a>
        {{ if isset .Params "download_url" }}
        <a href="{{ .Params.download_url }}" class="left download" download>Download</a>
        {{ end }}
        
        <a href="/" class="right">Return to index &rarr;</a>
    </header>
    <div class="container p-5">
        {{ .Content }}
    </div>
</main>

{{ end }}