{{ define "title" }}
    Elia Doumerc | {{ .Title }}
{{ end }}

{{ define "static"}}

    {{ $single := resources.Get "sass/single.scss" }}
    {{ $single := $single | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $single.RelPermalink }}">

    <script defer src="/js/single.js"></script>
    
    <!-- For LaTeX formulas -->
    {{ if .Params.has_formulas }}
        <script>
            MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$','$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
            };
        
            window.addEventListener('load', (event) => {
                document.querySelectorAll("mjx-container").forEach(function(x){
                x.parentElement.classList += 'has-jax'})
            });
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{ end }}
    
{{ end }}

{{ define "header" }}
<header class="first">
    {{ if and .Params.featured_image .Params.show_featured_image}} 
        <div class="container-fluid sec3" style="position: relative; min-height: 400px; background: url( {{ .Params.featured_image }} )">
            <div class="headerText">
                <h1>{{ .Title }}</h1>
                <h4>{{ .Description }}</h4>
            </div>
            
            {{ if isset .Params "download_url" }}
            <a href="{{ .Params.download_url }}" class="left download" download>{{ T "download" }}</a>
            {{ end }}
        </div>
    {{ else }}
        <div class="container-fluid p-4 sec3">
            <h1>{{ .Title }}</h1>
            <h4>{{ .Description }}</h4>
            
            {{ if isset .Params "download_url" }}
            <a href="{{ .Params.download_url }}" class="left download" download>{{ T "download" }}</a>
            {{ end }}
        </div>
    {{end}}
    
</header>
{{ end }}

{{ define "aside" }}
{{ if gt .WordCount 400}}
    <div class="sidenav sec3 first">
        <h1>{{ T "index" }}</h1><hr>
        {{ .TableOfContents }}
    </div>
    
    <!-- Control buttons -->
    <a href="javascript:void(0);" class="navOpen" title="Open Index">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
    <a href="javascript:void(0);" class="navClose" title="Close Index">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </a>
{{ end }}
{{ end }}
    
{{ define "main" }}
<main class="text-left sec1">
    <div class="container p-5">
        <p class="text-muted small">{{ T "last_update" }}: {{ .Lastmod | time.Format ":date_long" }}</p>
        {{ .Content }}
    </div>
</main>
{{ end }}