{{ define "static"}}
    <link href="/css/single.css" rel="stylesheet">
    <script src="/js/single.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{ end }}
{{ define "header" }}
    
{{ end }}
{{ define "aside" }}
    <div class="sidenav sec3" width="20%">
        <a href="javascript:void(0);" class="navClose">&#10060;</a>
        <h1>{{ .Title }}</h1><hr>
        {{ .TableOfContents }}
    </div>
{{ end }}
{{ define "main" }}
<main class="text-left sec0">
    <header class="container-fluid p-5 sec3 text-center">
        <h4>{{ .Description }}</h4>
        
        <a href="javascript:void(0);" class="navOpen">
            <i class="fa fa-bars"></i>
        </a>
        {{ if isset .Params "download_url" }}
        <a href="{{ .Params.download_url }}" class="left download" download>Download</a>
        {{ end }}
        
        <a href="/" class="right">Return to index &rarr;</a>
    </header>
    <div class="container p-5">
        {{ .Content }}
    </div>
</main>
{{ end }}