main{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
	min-height: 650px;
}

#programs, #docs{
	columns: 3;
	padding-bottom: 24px;
}
@media screen and (max-width: 990px){
	#programs, #docs{columns: 2;}
}
@media screen and (max-width: 450px){
	#programs, #docs{columns: 1;}
}

.card{
	border: 2px solid #ea433b;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 4px 10px 16px #888888;
}
.card:hover{
	box-shadow: none;
	cursor: pointer;
	background-color: rgba(253, 250, 250, 0.9);
}
.card-body{
	border: 2px solid #ea433b;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: -2px;
}
main a, a:hover{
	color: black;
	text-decoration: none;
}