
{{ if .Params.featured_image }}
<img class="card-img-top" src="{{ .Params.featured_image }}" alt="{{ .Title }}">
{{ end }}
{{ if .Params.medialink }}
<iframe class="media card-img-top" width="100%" src="{{ .Params.medialink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{{ end }}

<div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    <p class="card-text">{{ .Description }}</p>
    <p class="card-text"><small class="text-muted">{{ .Date.Format "2006-01-02" }}</small></p>
</div>