{{ define "header" }}
<header id="indexHeader" class="first sec3" style="position: relative;">
    <div class="headerText" id="indexHeaderText">
        <h1><b>Elia Doumerc</b></h1>
        <h6>{{ T "short_description" }}</h6>
    </div>
    <img src="/images/handsBw.jpeg" class="mainImg" alt="Imagen de Piano visto desde arriba">
</header>
{{ end }}

{{ define "main" }}
<main class="sec2">
    <div class="container-fluid sec1">
        <iframe src="/audios/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
        <audio id="audio" autoplay>
            <source src="/audios/impromptu.mp3" type="audio/mpeg">
        </audio>
        <div class="container p-5">
            <h2>{{ T "welcome" }}</h2><br>
            {{ .Content }}
        </div>
    </div>

 
    <div class="container p-4">
        <h2>{{ T "news" }}</h2><hr>
    </div>
    
    <div class="card-columns container p-4">
        {{ $news := site.RegularPages }}

        {{ range .Site.Home.Translations }}
            {{ $news = ($news | lang.Merge .Site.RegularPages) }}
        {{ end }}

        {{ $news := where $news "Type" "like" `recordings|news` }}
        {{ $news := sort $news "Date" "desc" }}
        {{ $news := first 2 $news }}

        {{ range $news}}
            <div class="card">
                {{ partial "card_children" . }}
            </div> 
        {{ end }}
    </div> 
</main>

{{ end }}