{{ define "static" }}
	<link href="/css/index.css" rel="stylesheet">
{{ end }}
{{ define "header" }}
	<header class="container-fluid p-5 sec3">
		<h1>CS stuff by ELia Doumerc</h1><hr>
		<h4>A collection of essays and software</h4>
		<a class="right" href="http://www.elia-doumerc.es">Visit my personal website &rarr;</a>
	</header>
{{ end }}
{{ define "main" }}
	<main class="container p-4">
		<div id="programs">
			<h1>Software</h1>
			{{ range .Pages }}
				{{ partial "card" . }}
			{{ end }}
			<!-- Eine Karte einfach so, damit es nicht so leer ist. -->
			<div class="card p-3">
				<blockquote class="blockquote mb-0 card-body">
				<p>Work still in progress...</p>
				</blockquote>
			</div>
		</div>
		<hr>
		<div id="docs">
			<h1>Essays</h1>
			{{ range $.Site.Data.docs }}
				{{ partial "doc" . }}
			{{ end }}
		</div>
	</main>
{{ end }}