{{- $filename := .Get "src" -}}
{{- $img := resources.Get (printf "images/%s" $filename) -}}

{{- $img_width := $img.Width -}}
{{ $s_img_width := (string $img_width) }}

<div class="clearfix">
<picture>
{{ if gt $img_width 576 }}
{{- $sm_img := $img.Resize "576x" -}}
<source media="(max-width:992px)" srcset="{{ $sm_img.RelPermalink }}"> <!-- Since the image at this point only takes half of the screen, 576 is enough for 992px -->
{{ end }}
    
<img src="{{ $img.RelPermalink }}" alt="{{ .Get `alt` }}" class="p1 {{ .Get `class` }}">
</picture>

{{ .Inner }}

</div>
