{{- $filename := .Get "src" -}}
{{- $img := resources.Get (printf "images/%s" $filename) -}}

{{- $img_width := $img.Width -}}
{{ $s_img_width := (string $img_width) }}

<style>
    @media (max-width: {{ .Get "width_switch" }}){
        picture{
            width: 100%!important;
        }
    }
</style>

<div class="text-center" style="width: inherit;">    
    <picture class="d-block py-2 pt-sm-1 px-sm-3 pb-sm-3 {{ .Get `class`}} mx-auto" style="width: {{ .Get `width`}};">
        {{ if gt $img_width 576 }}
        {{- $sm_img := $img.Resize "576x" -}}
        <source media="(max-width:576px)" srcset="{{ $sm_img.RelPermalink }}">        
        {{ end }}
        <img src="{{ $img.RelPermalink }}" alt="{{ .Get `alt`}}" class="img-fluid">
    </picture>    
</div>
